<!doctype html>
<html>
<head>
    <meta charSet="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/theme1.css" id='theme'>
    <title>Your App</title>
</head>
<script>
  console.log(111);
  const prevCss = localStorage.getItem('fk-theme')
  document.head.querySelector('#theme').setAttribute('href', prevCss);

</script>
<body>
<div id="root"></div>
</body>
</html>
