.appWrap {
  display: flex;
  height: 100%;
  flex-direction: column;

  .appMain {
    display: flex;
    height: calc(100% - 3.7rem);

    .rightMain {
      display: flex;
      flex-direction: column;
      width: calc(100% - 14rem);
      flex: 1;

      .pageWrap {
        height: calc(100% - 3rem);
        background: #f0f0f0;
        flex: 1;
        padding: 1rem;
        overflow-y: auto;
        //display: flex;
        //flex-direction: column;
      }
    }
  }
}
