@import url('./assets/font/iconfont.css');

html,
body {
  font-family: '微软雅黑', sans-serif;
  font-size: 14px;
  color: #666;
  @media (max-width: 1600px) {
    font-size: 13px;
  }
  @media (max-width: 1366px) {
    font-size: 12px;
  }

  #root {
    height: 100%;

    .hide {
      display: none;
    }

    ul {
      padding: 0;
      list-style: none;
    }
  }
}
